@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
     background-color: black;
     color: rgb(240, 170, 19);
     font-family: "Black Ops One", system-ui;
}
.cabecalho{
background-color: rgb(168, 10, 10);
text-align: center;
padding:20px;

}
.imagem-post{
width: 120px;
height: 120px;
}
main{
background-color: rgb(168, 10, 10);
color:rgb(240, 170, 19) ;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}
article{
  display: flex;
}
.texto-post{
  margin-left: 40px;
}