@import url https://i.pinimg.com/736x/d6/01/68/d6016865af34cc7c5889657fd0ed035f.jpg;

*{
  margin: 0;
  padding: 0;
}

body{
     background-color: black;
     color: rgb(23, 180, 172);
     font-family: "Black Ops One", system-ui;
}
.cabecalho{
background-color: rgb(168, 10, 10);
text-align: center;
padding:20px;

}
.imagem-post{
width: 120px;
height: 120px;
}
main{
background-color: white;
color:rgb(23, 180, 172) ;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}